$primary: #92d690;
$warning: #F19B45;
$danger: #fa755a;

$text-color: #979c9b;
$text-alt-color: #474747;
$foreground-color: #1c191d;
$foreground-alt-color: #110f11;
$background-color: #101014;