@font-face {
	font-family: Munro;
	src: url(../fonts/munro/Munro.ttf);
}

@import "./reboot.scss";
@import "./colors";
@import "./utilities.scss";

@import "./components/button.scss";
@import "./components/modal.scss";
@import "./components/form.scss";

.foreground-alt {
  background-color: $foreground-alt-color;
}

.foreground {
  background-color: $foreground-color;
}

html,
body {
	overflow: hidden;
}

body {
	background-color: rgb(16, 16, 20);
	color: #979c9b;
	font-family: Munro;
	font-size: 2.2vh;
}

li {
	display: block;
	list-style: none;
	text-align: center;
	margin: 2px 5px;
}

a {
	color: #979c9b;
	text-decoration: none;
}

a:hover {
	color: white;
}

::selection {
	background: #979c9b;
	color: #474747;
}
  ::-moz-selection {
	background: #979c9b;
	color: #474747;
}

.links {
	display: none;
	margin-top: 4vh;
	text-align: center;
}
.links ul {
	vertical-align: top;
	display: inline-block;
	list-style: none;
	margin: 0 0.5vw 0 0.5vw;
}

#nav {
	margin: 1rem;
	float: right;
}

#search-field {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 200px;
	max-width: 950px;
	height: 20vh;
	width: 100%;

	text-align: center;
	font-family: Munro;
	font-size: 0;
	color: #92d690;
	background: transparent;
	border: none;
	outline: none;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#hidden {
	position: fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
	height: 100%;
	z-index: -1;
}

#hidden input {
	width: 0;
	height: 0;
	opacity: 0;
}

#query {
	color: #979c9b;
	white-space: pre;
	display:inline-block;
	font-size: 2.5vh;
}
#caret {
	margin: 0 -2px 0 -2px;
	display:inline-block;
	font-size: 2.2vh;
}
#suggestion {
	color: #92d690;
	display:inline-block;
	font-size: 2.5vh;
}
#output {
	display: block;
	font-size: 2.2vh;
	white-space: pre;
	text-align: center;

	-webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}